# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/dev.db
/prisma/migrations/dev.db*

# uploaded images (保留目录但忽略内容 - 已改为跟踪)
# /public/uploads/*
# !/public/uploads/.gitkeep
